*.*~
*.pyc
*.swo
*.swp
*.vim
*.idea
.project
docs/*
.coverage
.pydevproject
.settings/*
build/*
dist/*
lib/*
src/*
bin/*
include/*
man/*
.env/*
examples/upwork
upwork/__init__.py.back
python_upwork.egg-info
reference-docs
_gh-pages